@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900|Ubuntu:300,400,500,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Kumar+One+Outline|Londrina+Outline&display=swap');

$primary_color: #eb0580;
$secondary_color: #9c0296;
$tertiary_color: #07111E;
$white: #ffffff;
$black: #000000;

$primary_font: "Ubuntu", sans-serif;
$secondary_font: "Montserrat", sans-serif;


$drawing_font1: 'Londrina Outline', cursive;
$drawing_font2: 'Kumar One Outline', cursive;

